NEXT_PUBLIC_API_BASE_URL=http://localhost:5016/api
NEXT_PUBLIC_DEV_API_ORIGIN=http://localhost:5016
NEXT_PUBLIC_ENABLE_REALTIME=true
NEXT_PUBLIC_SIGNALR_TRANSPORT=websockets
NEXT_PUBLIC_REALTIME_DEBUG=false
